body {
    background-image: url("../images/dust_scratches.png");
}

div {
    background-color: white;
}

.header, .footer {
    width: 1160px;
}

.header {
    margin: 0 0 25px 0;
    height: 75px;
    border-bottom: 2px solid;
}

.header-title {
    display: inline-block;
    float: left;
    height: 35px;
    width: 200px;
    margin-left: 100px;
    background-color: #4aaaa5;
    text-align: center;
    padding: 20px;
}

.header-nav {
    position: absolute;
    display: scroll;
    float: left;
    margin-left: 820px;
    padding: 25px 0 0 0;
    width: 250px;
}

p, .header-nav li, .header-nav a {
    display: inline;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
}

a:hover {
    color: red;
}

.header-title h1 {
    color: white;
    font-size: 35px;
}

.main {
    background-color: transparent;
    margin: 0 0 0 100px;
    max-height: 1000px;
    width: 960px;
    line-height: 25px;
}

.about-image {
    display: inline;
    float: left;
    padding: 0 30px  0;
}

.main h1, .main h2 {
    color: #4aaaa5;
}

.main h1 {
    font-size: 35px;
}

.main h2 {
    font-size: 25px;
}

label {
    color: #777;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

input, textarea {
    width: 100%;
    border-width: 1px;
    border-color: lightgray;
    font-size: 15px;
    color: #777;
    line-height: 20px;
    margin: 10px 0 10px 0;
    resize: none;
}

::placeholder {
    color: #ccc;
}

#submit {
    background-color: #4aaaa5;
    color: white;
    font-size: 20px;
    height: 40px;
    width: 125px;
    margin-top: 10px;
}

.content {
    float: left;
    width: 600px;
    padding: 25px;
}

.sidebar {
    float: right;
    width: 220px;
    padding: 25px;
    text-align: center;
}

.connect-image {
    transition-property: transform;
    transition-duration: .9s;
}

.connect-image:hover {
    -webkit-transform: rotate(180deg);
}

.footer {
    position: fixed;
    background-color: #777;
    bottom: 0px;
    margin: 25px 0 0 0;
    height: 25px;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    padding: 50px 0 0 0;
    text-align: center;
}