* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.header {
    background-color: white;
    margin: 0px;
    height: 75px;
    border-style: solid;
    border-width: 2px;
    border-color: #ccc;
    vertical-align: middle;
    margin-bottom: 25px;
}

.button {
    float: right;
}

.right-box {
    float: left;
    margin: 25px;
    margin-right: 100px;
    width: 270px;
    overflow: visible;
    display: inline-block;
}

#header-box {
    position: fixed;
    margin-left: 50px;
    width: 200px;
    background-color: #4aaaa5;
    height: 25px;
    text-align: center;
    color: white;
    padding: 25px;
}

.main-box {
    float: left;
    height: 400px;
    width: 650px;
    border-style: solid;
    border-width: 2px;
    border-color: #ccc;
    margin-left: 100px;
}

.footer {
    background-color: #666;
    border-style: solid;
    border-top-width: 8px;
    border-color: #4aaaa5;
    height: 75px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    text-align: center;
    clear: both;
}