* {
    font-family: Arial, Helvetica, sans-serif;
    font-color: #777;
}

body {
    background-image: url("../images/dust_scratches.png");
}

a, p, .separator{
    color: #777;
    text-decoration: none;
}

a {
    font-size: 20px;
    float: left;
    margin-right: 10px;
}

label {
    color: #777;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

input, textarea {
    width: 100%;
    border-width: 1px;
    border-color: lightgray;
    font-size: 15px;
    color: #777;
    line-height: 20px;
    margin: 10 0 10 0;
    resize: none;
}

::placeholder {
    color: #aaa;

}

textarea {
    width: 100%;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

img {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

.teal-header {
    color: #4aaaa5;
    font-weight: bold;
}

.header {
    margin: 0px;
    height: 75px;
    width: 1160px;
    margin-bottom: 25px;
    background-color: white;
    border-bottom: 2px solid;
    border-bottom-color: #ccc;
 }

.buttons {
    position: relative;
    top: 25px;
    left: 480px;
}

.links {
    float: left;
}

.separator {
    font-size: 25px;
    margin-right: 10px;
    margin-top: -2px;
}

#header-box {
    float: left;
    margin-left: 100px;
    width: 200px;
    height: 35px;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: #4aaaa5;
}

.main-content, .connect {
    border-style: solid;
    border-width: 2px;
    border-color: #ccc;
    padding: 20px;
    background-color: white;
}

.main-content {
    float: left;
    height: 380px;
    width: 606px;
    margin-left: 100px;
    line-height: 30px;
}

.connect {
    position: absolute;
    left: 790px;
    height: 130px;
    width: 226px;
    overflow: hidden;
    text-align: center;
}

.connect-box{
    width: 100%;
    margin:15 0 0 6;
}

.connect-image {
    margin: 0 2 0 2;
}

.footer {
    background-color: #666;
    border-style: solid;
    border-top-width: 8px;
    border-color: #4aaaa5;
    height: 25px;
    position: absolute;
    bottom: 0px;
    width: 1160px;
    left: 0px;
    text-align: center;
    clear: both;
    color: #ccc;
    padding-top: 40px;
}

#submit {
    background-color: #4aaaa5;
    color: white;
    font-size: 20px;
    height: 40px;
    width: 125px;
    margin-top: 10px;
}